@import "bootstrap/scss/bootstrap";
@import "react-toastify/dist/ReactToastify.css";
@import url(./assets/fonts/_fonts.scss);

$main-color: #94143a;
$main-color-light: rgb(191, 55, 96);

.header {
  #icon-list {
    color: $main-color;

    .blur {
      background: #a0153e4d;
      border-radius: 539px;
      display: block;
      filter: blur(10rem);
      height: 40rem;
      position: absolute;
      top: -30rem;
      width: 100%;
    }

    ::before {
      background: rgb(64 95 124 / 4%);
      border-radius: 50%;
      content: " ";
      display: block;
      height: 120px;
      position: absolute;
      right: calc(50% - 60px);
      top: calc(11.5% - 60px);
      width: 120px;
    }

    ::after {
      background: rgb(64 95 124 / 5%);
      border-radius: 50%;
      content: " ";
      display: block;
      height: 70px;
      position: absolute;
      right: calc(50% - 35px);
      top: calc(11.5% - 35px);
      width: 70px;
      z-index: 2;
      animation: blink 1.5s linear infinite;
      -webkit-animation: blink 1.5s linear infinite;
    }
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.title {
  width: 96%;
  padding: 0 16px;
  align-items: center;
  border-bottom: 1px solid #202020;
  color: #fff;
  font-style: bold;
  font-weight: 700;
  line-height: normal;
  font-size: calc(0.55rem + 4vw);

  h1 {
    font-size: inherit;
    font-weight: 700;
  }

  span {
    color: $main-color;
  }
}

.info-title {
  align-items: center;
  background: linear-gradient(270deg, #3d50614d, #12151700);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  padding: 4px 13px;
  width: -moz-max-content;
  width: max-content;
  svg {
    color: $main-color;
  }
}

.box {
  background: #121517;
  border-radius: 2rem;
  direction: rtl;
  font-weight: 700;

  .items {
    border-top: 1px solid #171c21;
    gap: 0.7rem;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .sys {
      grid-column: span 2;
    }

    .icon-holder {
      background: linear-gradient(180deg, #1c2124, #1c212400);
      height: 40px;
      justify-content: center;
      width: 48px;
      align-items: center;
      border-radius: 0.9rem;
      display: flex;
    }

    .item {
      width: auto;
      background: #181c1f;
      padding: 0px 0.5rem;
      align-items: center;
      border-radius: 14px;

      .text-op {
        color: #c6c6c6;
        font-size: 1rem;
        opacity: 0.9;
        overflow-wrap: anywhere;
        justify-content: flex-end;
        display: flex;
        align-items: center;
        direction: ltr;
      }

      .text-c {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
      }
    }
  }

  .cards {
    gap: 1rem 0rem;

    .card {
      align-items: center;
      background: #181c1f;
      border: 1px solid rgba(143, 171, 202, 0.188);
      border-radius: 19px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      text-align: center;
      min-height: calc(70% + 1.7rem);

      .card-title {
        color: #a8b1b9;
        font-size: 17px;
        font-style: normal;
        font-weight: 300;
        margin-bottom: 6px;
      }

      .card-body {
        min-height: 100px;
        color: $main-color;
        font-size: 27px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }
  }

  #nav-select {
    .nav-link.active {
      color: $main-color-light;
    }

    .nav-link {
      color: #c6c6c6;
    }

    .nav-item {
      margin-top: 1rem;
      padding: 0rem 2rem;
      background: linear-gradient(180deg, #1c2124, #1c212400);
      justify-content: center;
      align-items: center;
      border-radius: 0.9rem;
      display: flex;
    }

    .list-group {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 1.5rem;
      gap: 1rem;

      .list-group-item {
        color: white;
        width: 100%;
        display: flex;
        font-weight: 500;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: none;
        border-bottom: 1px solid rgba(143, 170, 202, 0.188) !important;
        padding: 12px;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
        border-radius: 0.5rem;
        background: none;

        .config-icons {
          display: flex;
          gap: 1.5rem;
          align-items: center;
          justify-content: center;
          font-size: 1.7rem;
          cursor: pointer;
          color: $main-color;
        }
      }

      button {
        background-color: $main-color;
        width: 98%;
        padding: 1rem;
        border-radius: 0.5rem;
        color: #fff;
        font-weight: 700;
        margin: auto;
        margin-top: 0.5rem;
        border: $main-color-light;

        &:hover {
          background-color: $main-color-light;
        }
      }
    }
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem;
    gap: 1rem;

    .list-group-item {
      color: white;
      width: 100%;
      display: flex;
      font-weight: 500;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border: none;
      border-bottom: 1px solid rgba(143, 170, 202, 0.188) !important;
      padding: 12px;
      transition: all 0.5s ease-in-out;
      cursor: pointer;
      border-radius: 0.5rem;
      background: none;

      &:hover {
        background-color: #181c1f;
      }

      .config-icons {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        justify-content: center;
        font-size: 1.7rem;
        cursor: pointer;
        color: $main-color;
        transition: color 0.5s, transform 0.5s; /* Smooth color and transform transitions */
      }
    }

    button {
      background-color: $main-color;
      width: 98%;
      padding: 1rem;
      border-radius: 0.5rem;
      color: #fff;
      font-weight: 700;
      margin: auto;
      margin-top: 0.5rem;
      border: $main-color-light;

      &:hover {
        background-color: $main-color-light;
      }
    }
  }

  .apps-col {
    background-color: #181c1f;
    border-radius: 1rem;
    .list-group {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-right: 1.5rem;
      gap: 1rem;

      .list-group-item {
        color: white;
        width: 100%;
        display: flex;
        font-weight: 500;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: none;
        border-bottom: 1px solid rgba(143, 170, 202, 0.188) !important;
        padding: 12px;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
        border-radius: 0.5rem;
        background: none;

        &:hover {
          background-color: #121517;
        }

        .config-icons {
          display: flex;
          gap: 1.5rem;
          align-items: center;
          justify-content: center;
          font-size: 1.7rem;
          cursor: pointer;
          color: $main-color;
          a {
            color: $main-color !important;
          }
        }
      }
    }
  }

  .nav-apps {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .nav-item {
      border-radius: 2rem;
      .active {
        background-color: #121517 !important;
        border-bottom: 1px solid $main-color;
      }
      a {
        color: #c6c6c6;

        &:hover {
          background-color: #121517;
        }
      }
    }
  }

  .nav-b {
    margin-top: 1rem;
    border-top: 1px solid #171c21;
    justify-content: center;
  }

  h3 {
    font-weight: 600;
  }

  .flashdot {
    animation: blink 1.5s linear infinite;
    -webkit-animation: blink 1.5s linear infinite;
  }
}

.home {
  text-align: center;
  background-color: #0b0b0b;
}

#root {
  background-color: #0b0b0b;
  color: white;
}

html {
  background-color: #0b0b0b;
}

body {
  font-family: ACVazir, Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 768px) {
  .box {
    width: 100%;

    .items {
      grid-template-columns: 1fr;
      gap: 1rem;

      .item {
        grid-column: span 2;

        .text-c {
          padding-left: 10px;
          width: 100%;
          display: grid;
          grid-template-columns: 1fr;
          padding-right: 8px;
          padding-top: 0.6rem;
        }
      }
    }
  }

  .nav-b {
    display: flex;
    flex-direction: column;
  }

  .apps-col {
    flex-direction: column !important;
    font-size: 0.7rem !important;

    .nav-apps {
      display: grid !important;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 1rem;
    }

    .config-icons {
      font-size: 1.2rem !important;
      gap: 0.7rem !important;
    }
  }
  .nav-links {
    padding: 1.5rem 0rem !important;
  }
}
.modal-header .btn-close {
  padding: unset;
  margin: unset;
}

.modal-title {
  font-weight: 500;
  font-size: medium;
  color: #fff;
}

.modal-content {
  background-color: #262c30;
  border-radius: 0.5rem;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)),
    var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);

  .img-fluid {
    border: 0.5rem solid white;
  }
}

.modal-dialog {
  transform: translateY(50%);
}

.no-border {
  border: none;
}

.card-title {
  text-underline-position: under;
}

.icon-success {
  color: green;
  transition: color 0.5s, transform 0.5s; /* Smooth color and transform transitions */
}

.icon-copy {
  color: $main-color;
  transition: color 0.5s, transform 0.5s; /* Smooth color and transform transitions */
}

// #root {
//   background: url(https://media.istockphoto.com/id/1156903571/fi/vektori/abstrakti-ep%C3%A4selv%C3%A4-tausta-eloisalla-v%C3%A4rill%C3%A4.jpg?s=1024x1024&w=is&k=20&c=37tph_Jz01WMaUeg_aiavBMdUGN8OcqJ2uwVtrsz90E=);
//   background-size: cover;
// }