@font-face {
    font-family: 'ACVazir';
    src: local('Vazir Regular'), url('./Vazirmatn-Regular-CtGL0YI-.woff2') format('woff2');
    font-weight: 400;  // Regular
    font-display: swap;
}

@font-face {
    font-family: 'ACVazir';
    src: local('Vazir Bold'), url('./Vazirmatn-Bold-_OhAJEdh.woff2') format('woff2');
    font-weight: 700;  // Bold
    font-display: swap;
}

@font-face {
    font-family: 'ACVazir';
    src: local('Vazir ExtraBold'), url('./Vazirmatn-ExtraBold-DCjt2qDm.woff2') format('woff2');
    font-weight: 900;  // Extra Bold
    font-display: swap;
}
